<a href="https://colab.research.google.com/github/heyrobin/Python-DA/blob/main/most_played_video_games_by_player_count.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#installing dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_most-played_video_games_by_player_count'
response = requests.get(url)
soup = BeautifulSoup(response.content, "lxml")
print(soup.prettify()[:1000])

<!DOCTYPE html>
<html class="client-nojs" dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   List of most-played video games by player count - Wikipedia
  </title>
  <script>
   document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"b7138eb2-31e9-426f-8198-9628a28dc352","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"List_of_most-played_video_games_by_player_count","wgTitle":"List of most-played video games by player count","wgCurRevisionId":1029696317,"wgRevisionId":1029696317,"wgArticleId":58535540,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles containing potentially dated statemen

In [ ]:
soup.title.string

'List of most-played video games by player count - Wikipedia'

In [ ]:
Games = soup.find_all('table', class_= "wikitable")
Games

In [ ]:
Sample = Games[0].text.split('\n')
Sample

In [ ]:
Data = []

for row in Games[0].find_all('tr'):
  columns = row.find_all(['td','th'])
  Game = columns[0].text.strip('\n')
  Number = columns[1].text.strip('\n')
  As_of = columns[2].text.strip('\n')
  Business_model = columns[3].text.strip('\n')
  Release_Date = columns[4].text.strip('\n')
  Publisher = columns[5].text.strip('\n')
  #print(Game,Number,As_of,Business_model,Release_Date,Publisher)
  Data.append((Game,Number,As_of,Business_model,Release_Date,Publisher))

In [ ]:
Data

In [ ]:
Df = pd.DataFrame(Data)

In [ ]:
Df

                                    0  ...                          5
0                                Game  ...               Publisher(s)
1       PlayerUnknown's Battlegrounds  ...          Krafton / Tencent
2                           CrossFire  ...        Smilegate / Tencent
3              Dungeon Fighter Online  ...            Nexon / Tencent
4   QQ Speed / GKART / Speed Drifters  ...           Tencent / Garena
..                                ...  ...                        ...
95                        Free Realms  ...  Sony Online Entertainment
96                               H1Z1  ...      Daybreak Game Company
97                          Robocraft  ...              Freejam Games
98              Ark: Survival Evolved  ...            Studio Wildcard
99       Star Wars Jedi: Fallen Order  ...            Electronic Arts

[100 rows x 6 columns]

In [ ]:
Df.columns = Df.iloc[0]
Df = Df.iloc[1:]

In [ ]:
Df

0                                Game  ...               Publisher(s)
1       PlayerUnknown's Battlegrounds  ...          Krafton / Tencent
2                           CrossFire  ...        Smilegate / Tencent
3              Dungeon Fighter Online  ...            Nexon / Tencent
4   QQ Speed / GKART / Speed Drifters  ...           Tencent / Garena
5                           Minecraft  ...        Mojang / NetEase[c]
..                                ...  ...                        ...
95                        Free Realms  ...  Sony Online Entertainment
96                               H1Z1  ...      Daybreak Game Company
97                          Robocraft  ...              Freejam Games
98              Ark: Survival Evolved  ...            Studio Wildcard
99       Star Wars Jedi: Fallen Order  ...            Electronic Arts

[99 rows x 6 columns]

In [ ]:
Df.to_csv('games.csv')